/* -------- Configurazioni generali --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 750px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

/*-------- Configurazioni specifiche --------*/

/* Header settings */
.LogoToDoList {
    padding: 20px 15px;
}

/* Main Settings */
.Page-Main {
    background-color: rgb(165, 165, 165);
}

/* Lista card ToDo */
.List-ToDoCards {
    padding: 20px 0;
}

/* Card ToDoList Settings */
.ToDoList-Card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

/*-------- UTILITY --------*/