/* -------- Configurazioni generali --------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 750px;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

/*-------- Configurazioni specifiche --------*/

/* Configurazione Header */
.LogoToDoList {
    padding: 20px 15px;
}

/* Configurazione Main*/
.Page-Main {
    background-color: rgb(165, 165, 165);
}

/* Lista card ToDo */
.List-ToDoCards {
    padding: 20px 0;
}

/* Card ToDoList Configurazioni */
.ToDoList-Card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

/* configurazione container dei comandi della card */
.Buttons-ToDoCard {
    border-bottom: 1px rgb(165, 165, 165) solid;
    padding-bottom: 10px;
}

/* Configurazioni default dei bottoni delle card */
.Btn-Card {
    padding: 10px;
    border-radius: 10px;
}

.Btn-Card:hover {
    background-color: rgb(0, 140, 255);
    cursor: pointer;
}

/* Configurazione gruppo liste ToDo */
/* .GroupListToDo {
    --- DA ESAMINARE!!!!!! ---
} */

/* Configurazione singola Lista ToDo */
.SingleListToDo {
    padding-top: 15px;
}

.ListElement-Particle {
    display: inline-block;
}

/*-------- UTILITY --------*/